<head>
<style>
body{background-color:#11111}
</style>
</head>
<center>


 <h2>Your operation is successful!!!</h2>
 <h3><a href="/form/list"> See the list</a></h3> 
 <h3><a href="/form/add">Add another one </a></h3> 
</center>
