<head>
<style>
body{background-color:#F0FFFF}
img{
		width: 650px;
		height: 250px;}
</style>
<script src="{{ asset('js/main.js') }}"></script>
</head>
<center>
{% block body %}
         <body onload="change()">
		 <h1> Address Book</h1>
         <p><strong><a href="/login"> Login</a> 
         <a href="/register">register </a></strong></p> 
		 <img id ="img1" src="img/1.jpg" alt="" />	
		 <img id ="img2" src="img/1.jpg" alt="" />
		 <img id ="img3" src="img/1.jpg" alt="" />	
		 <img id ="img4" src="img/1.jpg" alt="" />
{% endblock %}