<head>
<style>
body{background-color:#8FBC8F}
</style>
</head>
<center>
<h1> Address Book</h1>

{% block body %}
         <h3><a href="/login"> Login</a></h3> 
         <h3><a href="/register">register </a></h3> 
{% endblock %}