<head>
<style>
body{background-color:#8FBC8F}
#logout{position: absolute;
  right: 30px;
  top: 20px;}
</style>
</head>
<center>
<h1> Address Book</h1>
<h2><a href="/form/add">Add new one </a></h2> 
 
<div id="logout">
<a href="/logout">Log out</a> 
</div>

{% block body %}
	
   {% for detail in details %}
         <h3> {{ detail.name }}</a>  <a href="/form/list/{{detail.id}}">view</a> <a href="/form/update/{{detail.id}}"> edit</a>  <a href="/form/remove/{{detail.id}}">remove</a></h3> 
   {% endfor %}

	
{% endblock %}